{% if register == True %}

<form action="{{ url_for('register') }}" method="POST"> 
    <div class="row">
        <div class="col s12 m8 offset-m2 input-fields">               
            <label class="labels" for="username">Username</label>
            <span class="pattern">Username can only have letters (either case) and numbers. No special characters</span>
            <input id="username" type="text" name="username" class="fields" pattern="[a-zA-Z0-9]+" required title="Only letters (either case) and numbers. No special characters">
        </div>
        <div class="col s12 m8 offset-m2 input-fields">
            <label class="labels" for="password">Password</label>
            <span class="pattern">Password should be six or more characters</span>
            <input id="password" name="password" type="password" class="fields" required pattern=".{6,}" title="six or more characters">
        </div>
        <div class="col s12">
            <button type="submit" class="form-buttons" name="action">Register now</button>
        </div>
        <div class="col s12">
            <h4>Do you already have an account?</h4>
            <div class="row">
                <div class="col s12 link-container">
                    <a href="{{ url_for('sign_in') }}" class="form-buttons">Click here to sign in</a>
                </div>
                <div class="col s12 link-container">
                    <a href="{{ url_for('home') }}" class="form-buttons">Go back to the home page</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% else %}
<form action="{{ url_for('sign_in') }}" method="POST">
    <div class="row">
        <div class="col s12 m8 offset-m2 input-fields">
            <label class="labels" for="username">Username</label>
            <input id="username" type="text" name="username" class="fields" required>
        </div>
        <div class="col s12 m8 offset-m2 input-fields">                
            <label class="labels" for="password">Password</label>
            <input id="password" name="password" type="password" class="fields">
        </div>
        <div class="col s12">
            <button type="submit" class="form-buttons" name="action">Sign in</button>
        </div>
        <div class="col s12">
            <h4> You don't have an account yet?</h4>
            <div class="row">
                <div class="col s12 link-container">
                    <a href="{{ url_for('register') }}" class="form-buttons">Click here to register</a>
                </div>
                <div class="col s12 link-container">
                    <a href="{{ url_for('home') }}" class="form-buttons">Return to homepage</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}