<form action="{{ url_for('sign_in') }}" method="POST">
    <div class="row">
        <div class="col s12 m8 offset-m2 input-fields">
            <label class="labels" for="username">Username</label>
            <input id="username" type="text" name="username" class="fields" pattern="^[a-zA-Z0-9]{5,15}$" required>
        </div>
        <div class="col s12 m8 offset-m2 input-fields">                
            <label class="labels" for="password">Password</label>
            <input id="password" name="password" type="password" class="fields" minlength="5" maxlength="15" required pattern=".{6,}" title="six or more characters">
        </div>
        <div class="col s12">
            <button type="submit" class="form-buttons" name="action">Sign in</button>
        </div>
        <div class="col s12">
            <h4> You don't have an account yet?</h4>
            <a href="{{ url_for('register') }}" class="form-buttons">Click here to register</a>
            <a href="{{ url_for('home') }}" class="form-buttons">Return to homepage</a>
        </div>
    </div>
</form>