{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}

    {% if register == True %}

    <div class="container" id="register">
        <h2 class="heading">Register here to start tracking your dog's health!</h2>
        {% include 'components/forms/authentication.html' %}
    </div>

    {% else %}

    <div class="container" id="sign-in">
        <h2 class="heading">Sign in to your account</h2>
        {% include 'components/forms/authentication.html' %}
    </div>

    {% endif %}

    {% include 'components/flash_messages/flash_messages.html' %}

{% endblock %}