{% extends 'layout/base.html' %}

{% include 'components/navigation/extensive_navigation.html' %}

{% block content %}
<div>
{% include 'components/flash_messages.html' %}
</div>

<div class="container">
    <div class="row">
        <div class="col s12 dashboard" id="blank-dashboard">
            <div class="col s12 m3" id="dog-profile">
                <div class="row">
                    <div class="col s12">
                        <div id="add-dog">
                            <a href="{{ url_for('add_dog', user_id=user_id)}}" title="Add another dog"><i class="material-icons icons">add_circle</i></a>
                        </div>
                    </div>
                    <div class="col s12" id="image-container">
                        <div id="no-image">
                            <a href="{{ url_for('add_dog',user_id=user_id) }}" title="Add profile image of your dog"> Click here to create a profile for your dog!</a>
                        </div>
                    </div>
                    <div class="col s12">
                        <h2 id="dog-heading"></h2>
                        <h5 class="dog-subheading"><strong>Breed</strong></h5>
                        <span class="dog-body"></span>
                        <h5 class="dog-subheading"><strong>Date of birth</strong></h5>
                        <span class="dog-body"></span>
                        <h5 class="dog-subheading"><strong>Description</strong></h5>
                        <span class="dog-body"></span>
                    </div>
                </div>
            </div>
            <div class="col m9">
                <div class="default-log" id="start-tracking">
                    <p>After you have added your dog, come here to start tracking!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/footer/footer.html' %}
{% endblock %}