{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/extensive_navigation.html' %}

{% if count_dogs == 0 %}
<div class="container">
    <div class="row">
        <div class="col s12 dashboard" >
            <div class="row " id="blank-dashboard">
                <div class="col s12 m3 dog-profile">
                    <div class="row">
                        <div class="col s12">
                            <div class="add-dog">
                                <a href="{{ url_for('add_dog', user_id=user_id)}}" title="Add another dog"><i class="material-icons icons">add_circle</i></a>
                            </div>
                        </div>
                        <div class="col s12 image-container">
                            <div class="no-image">
                                <a href="{{ url_for('add_dog',user_id=user_id) }}" title="Add profile image of your dog"> Click here to create a profile for your dog!</a>
                            </div>
                        </div>
                        <div class="col s12" >
                            <h2 class="dog-heading">Name</h2>
                            <h5 class="dog-subheading"><strong>Breed</strong></h5>
                            <span class="dog-body"></span>
                            <h5 class="dog-subheading"><strong>Date of birth</strong></h5>
                            <span class="dog-body"></span>
                            <h5 class="dog-subheading"><strong>Description</strong></h5>
                            <span class="dog-body"></span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m9">
                    <div class="default-log" id="start-tracking">
                        <p>After you added your dog, come here to start tracking!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col s12" id="dog-selection">
            {% if count_dogs > 1 %}
            <form action="{{ url_for('view_dashboard', dog_id = dog_id, user_id=user_id)}}" id="dog-profile-selection" method="POST" class="row">
                <div class="col s12">
                    <select id="dog-dropdown" name="dog_name" onchange="submitForm()" aria-label="Select dog profile">
                        <option value="default" selected disabled aria-label="Select dog name" id="default-option">Select the dog profile you want to see</option>
                    {% for dog in dogs %}
                        <option id="dog_name" value="{{dog.dog_name}}" aria-label="Dog Name">{{ dog.dog_name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="{{dog_id}}" class="col s12 dashboard">
            <div class="col s12 m3 dog-profile">
                <div class="row">
                    <div class="col s12">
                        <div class="add-dog">
                            <a href="{{ url_for('add_dog', user_id=user_id)}}" title="Add another dog" id="add-dog-icon">
                                <!-- <img src="../../../static/images/add-dog-icon.png" alt="add-dog-icon" id="add-dog-icon"> -->
                            </a>
                        </div>
                    </div>
                    {% if dog_profile.dog_image ==  "" %}
                    <div class="col s12 image-container">
                        <div class="no-image">
                            <a href="{{ url_for('edit_dog', dog_id=dog_id , user_id=user_id) }}" title="Add profile image of your dog"> Click here to add a profile image of your dog!</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="col s12">
                        <img src="{{ dog_profile.dog_image }}" id="profile-image" alt="profile_image_dog">
                    </div>
                    {% endif %}
                    <div class="col s12">
                        <h2 class="dog-heading">{{ dog_profile.dog_name }}</h2>
                        <h5 class="dog-subheading"><strong>Breed</strong></h5>
                        <span class="dog-body">{{ dog_profile.dog_breed }}</span>
                        <h5 class="dog-subheading"><strong>Date of birth</strong></h5>
                        <span class="dog-body">{{ dog_profile.date_of_birth }}</span>
                        <h5 class="dog-subheading"><strong>Description</strong></h5>
                        <span class="dog-body">{{ dog_profile.dog_description }}</span>
                        <div class="profile-icons">
                            <a href="{{ url_for('edit_dog', dog_id = dog_id , user_id=user_id) }}" title="Edit dog profile"><i class="material-icons icons">edit</i></a>
                            <a href="#delete-modal" title="Delete dog profile" class="modal-trigger"><i class="material-icons icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m9">
                
            {% if count_logs == 0 %}
                <div class="default-log">Click <a href="{{ url_for('add_log', user_id=user_id, dog_id=dog_id)}}">here </a>to add your first log! </div>
            {% else %}
                <div class="row">
                    <div id="search-button" class="col s12">
                        <a href="{{url_for('search_logs', dog_id=dog_id, user_id=user_id) }}" class="form-buttons">Click here to search logs by date</a>
                    </div>
                    <div class="hide-on-med-and-up col s12" id="add-log-s">
                        <a href="{{ url_for('add_log',  dog_id=dog_id, user_id=user_id) }}" class="form-buttons" title="Add another log">Add another log</a>
                    </div>
                </div>
                {% for log in logs %}
                    <!-- <p>
                    {{ log.log_date[4:-2] }}
                    </p> -->
                <div class="log-container">
                    <div class="row log">
                        <div class="col s12 m3 log-date">
                            <span id="log-day">{{ log.log_date[-2:] }}</span>
                            <span id="log-month"> {{ log.log_date[4:-2] }}</span>
                            <span id="log-year"> {{ log.log_date[0:4]}}</span>
                        </div>
                        <div class="col s12 m7">
                            <p class="log-element">Weight: {{ log.dog_weight }} {{ log.weight_metric }}</p>
                            <p class="log-element">Activity: {{ log.dog_activity }}</p>
                            <p class="log-element">Food: {{ log.dog_food }} {{ log.food_metric }}</p>
                            <p class="log-element">Other notes: {{ log.other_notes }}</p>
                        </div>
                        <div class="log-icons s12 m2">
                            <a href="{{ url_for('edit_log', log_id = log._id , user_id=user_id, dog_id=dog_id) }}" title="Edit log"><i class="material-icons icons">edit</i></a>
                            <a href="{{ url_for('delete_log', log_id = log._id , user_id=user_id, dog_id=dog_id) }}" title="Delete log"><i class="material-icons icons">delete</i></a>
                        </div>
                    </div>
                </div>
        {% endfor %}
        {% endif %}
                <div class="fixed-action-btn hide-on-small-only"> 
                    <a class="btn-floating btn-large" href="{{ url_for('add_log',  dog_id=dog_id, user_id=user_id) }}" title="Add another log">
                        <i class="material-icons bg-color">playlist_add</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% include 'components/modals/delete_modal.html' %}
{% include 'components/footer/footer.html' %}
{% endblock %}