{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/extensive_navigation.html' %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                {% if add == True %}
                    {% if count_dogs == 0 %}
                        <h2>Add a dog profile to start tracking!</h2>
                    {% else %}
                        <h2>Add your another dog profile to your account!</h2>
                    {% endif %}
                {% else %}
                    <h2>Edit dog profile</h2>
                {% endif %}
                {% include 'components/forms/dog_form.html' %}
            </div>
        </div>
    </div>
{% include 'components/footer/footer.html' %}
{% endblock %}

