{% extends 'layout/base.html' %}
{% block content %}
{% include 'components/navigation/basic_navigation.html' %}
<div class="container-fluid" id="hero-container">
    <div id="dog-image"></div>
    <div id="welcome-text">
        <h2 class="heading">Welcome to your personal Dog Health Tracker</h2>
        <h4 class="sub-heading">Register now or sign in and start tracking!</h4>
        <a href="{{ url_for('register')}}" class="form-buttons homepage-buttons">Register</a>
        <a href="{{ url_for('sign_in') }}" class="form-buttons homepage-buttons">Sign in</a>
    </div>
</div>
{% endblock %}



