
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


/* Navigation */

.navigation {
    background-color: #284B63 !important;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

/* Container */

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
} 

/* Dog Profile */



#dashboard {

    background-color: #D9D9D9;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
}

#dog-profile {
    padding-right: 2rem;
}

.profile-icons {
    margin-top: 1rem;
}

#add-dog {
    float: right;
    vertical-align: middle;
    line-height: 5rem;
}

.bg-color {
    background-color: #284B63;
    color: #4e88af;
}

.bg-color:hover {
    background-color: #4e88af;
    color: #284b63;
}

.icons {
    color: #284B63;
    font-size: 3rem;
}

.icons:hover{
    color: #4e88af;
}

.log {
    background-color: #F5F5F5   ;
    padding: 1rem 1rem 0 1rem;
    margin-top: 1rem;
    box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
}

.log-element {
    margin: 0.5rem 0;
}

.log-icons {
    float: right;
}

.log-date {
    text-align: center;
}

#log-day {
    font-size: 7rem;
    margin: 0;
    text-align: center;
    line-height: 9rem;
}

#log-month-year {
    font-size: 1.6rem;
    text-align: center;
}

#weigth-section {
    padding: 0;
}

.labels {
    font-size: 1.6rem;
    color: #000000;
}

#profile-selection {
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    #log-day {
        margin: 0 3rem;
    }
}
