@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Play&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100vh;
}

body {
    font-size: 2rem;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    color: #284B63;
    min-height: 100vh;
}

input,
textarea,
select {
    color: #284B63 !important;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

input:focus,
textarea:focus{
    border-bottom: 0.1rem solid #284B63 !important;
    box-shadow: 0 0.1rem 0 0 #284B63 !important; 
}

button:focus {
    background-color: #284B63;
}


/* colors */ 

.bg-color {
    background-color: #284B63;
    color: #f5f5f5;
}

.bg-color:hover {
    background-color: #152c3c;
}


/* General styling - multiple use */

.container {
    margin-bottom: 5rem;
    max-width: 100%;
}

.heading{
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Play", Arial, Helvetica, sans-serif;
    padding: 0 1rem;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
    font-family: "Play", Arial, Helvetica, sans-serif
}

.labels {
    font-size: 2rem;
    color: #284B63;
}

.icons {
    color: #284B63;
    font-size: 4rem;
}

.icons:hover{
    color: #152c3c;
}

.form-buttons {
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    background-color: #284B63;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0; 
    color: #f5f5f5 !important;
    font-size: 1.6rem;
    line-height: 2.1rem;
    border-width: 0;
}

.form-buttons:hover {
    background-color: #152c3c;
} 

.capitalize {
    text-transform: capitalize !important;
}



/* Navigation */

.navigation {
    background-color: #284B63 !important;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #f5f5f5;
}

.logo {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 2rem !important;
    width: 60%;
}

.brand-logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

    /* Profile dropdown Navigation */
    #account-icon {
        margin: 0;
        font-size: 4rem;
    }

    #dropdown-icon {
        margin: 0;
    }

    #account-icon:hover {
        color: #152c3c;
    }

    #profile-dropdown a {
        padding: 1rem 1rem 0 1rem;
        color: #284B63;
        background-color: #f5f5f5;
    }

    #username-dropdown {
        background-color: #284B63;
        color: #f5f5f5;
        box-shadow: none;
        margin-right: 0;
        padding-right: 0;
    }


/* Home page */

#hero-container {
    position: relative;
    text-align: center;
}

#dog-image {
    background: url('../images/dog-image.jpg') ;
    background-position: center center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter:opacity(70%);
    height: 100vh;
}

#welcome-text {
    position: absolute;
    top: 0%;
    left: 50%; 
    transform: translate(-50%);
    color: #284B63;
    width: 90%;
}

#welcome-paragraph {
    font-size: 2rem;
    font-weight: 700;
}
.homepage-buttons {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    text-decoration: none;
}


/* Register & Sign In */

#register {
    border: 0.3rem solid #284B63;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
}

.pattern {
    font-size: 1.2rem;
    display: block;
}

.link-container {
    margin: 1rem 0;
}

.input-fields {
    box-sizing: border-box;
}

.fields {
    width: 90%;
    border-bottom: 0.05rem solid #284B63 !important;
}

#sign-in {
    border: 0.3rem solid #284B63;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
}

#flash-message {
    color: red;
}

/* Dashboard */
    
.dashboard {
    background-color: #D9D9D9;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
    margin-bottom: 1rem;
    min-height: 88vh !important;
}


/* Select dog profile when multiple dogs */

#dog-selection {
    text-align: right;
    margin-top: 1rem; 
    padding: 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #284B63 !important;
    text-transform: capitalize;
}

.select-wrapper input.select-dropdown {
    color: #284B63;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #284B63;
    }

.select-dropdown li.disabled, 
.select-dropdown li.disabled>span, 
.select-dropdown li.optgroup {
    text-transform: none;
}

.select-dropdown li.disabled:hover, 
.select-dropdown li.disabled>span:hover
, .select-dropdown li.optgroup:hover {
    background-color: transparent;
    color: #284B63 !important;
}

.dropdown-content li>a:hover,
.dropdown-content li>span:hover {
    background-color: #284B63;
    color: #f5f5f5 !important;
}
    /* Dog Profile */

    .dog-profile {
        padding-right: 2rem;
        height: auto;
        text-align: center;
    }

    #profile-image {
        width: 100%;
        height: auto;
        border-radius: 50%;
        padding: 0 1rem;
    }

    .image-container {
        width: 20rem;
        height: 20rem;
        display: table
    }

    .no-image {
        display: table-cell; 
        border: 0.5rem solid #284B63;
        background-color: #F5F5F5;
        border-radius: 50%;
        width: 100%;
        height: 100%; 
        overflow: hidden;
        padding: 2rem;
        text-align: center;
        vertical-align: middle; 
    }

    .no-image a {
        text-decoration: none;
        color: #284B63;
    }

    .no-image a:hover {
        color: #152c3c;
    }

    .dog-heading {
        font-size: 4rem;
        margin: 1rem;
    }

    .dog-subheading {
        font-size: 2rem;
        font-weight: 600;
    }

    .dog-body {
        font-size: 1.6rem;
    }


    .add-dog-icon {
        background: url('../images/add-dog-icon.png') no-repeat center center !important;
        height: 6rem !important;
        width: 6rem !important;
        float: left !important;
    }

    .add-dog-icon:hover {
        background-color: #F5F5F5 !important;
        border-radius: 50% !important;    
        }
       

    /* Links - Icons */


    .add-dog {
    float: left;
    margin-top: 1rem;
    }

    .profile-icons {
        margin-top: 2rem;
    }

    /* Log Dashboard */

    /* Log display when no dog is added yet, centered on page */
    #start-tracking {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 1rem;
        margin-top: 0;
    }

    #start-tracking p {
        width: 80%;
        font-size: 3rem;
    }

    /* Log display after dog is added but no logs yet */
    .default-log {
        background-color: #F5F5F5;
        padding: 2rem;
        margin-top: 2rem;
        box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
        text-align: center;
        margin-bottom: 1rem;
    }

    .default-log a {
        text-decoration: underline;
        color: #284B63;
    }

    .default-log a:hover {
        color: #152c3c;
    }

    /* Display of logs */
    #log-display {
        position: relative;
    }

    .log {
        background-color: #F5F5F5   ;
        padding: 1rem 1rem 0 1rem;
        margin-top: 1rem;
        box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
    }

    .log-element {
        margin: 0.5rem 0;
    }

    .log-date {
        margin-bottom: 1rem;
        font-family: "Play", Arial, Helvetica, sans-serif;
        padding: 0 !important;
    }

    #log-day {
        font-size: 6rem;
        margin: 0;
        text-align: center;
    }

    #log-month,
    #log-year {
        font-size: 2.5rem;
        text-align: center;
    }

    .log-icons {
        float: right;
    }

    /* Floating Action Button */

    .btn-floating {
        margin-bottom: 3rem;
    }

    .btn-large i{
        font-size: 2.5rem
    }

    /* Add log button for small devices instead of FAB */

    #add-log-s {
    display: flex;  
    justify-content: center;
}

/* Add dog - Add log */

/* Datepicker */

.datepicker-date-display {
    background-color: #284B63;
}

.datepicker-table td.is-today {
    color: #284B63;
    background-color: #D9D9D9;
}

.datepicker-table td.is-selected {
    background-color: #284B63;
    color: #D9D9D9;
}

/* Remove up and down arrows number input fields */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

.btn-flat {
    color: #284B63;
}

.active {
    color: #284B63 !important;
}

.metrics {
    margin-bottom: 0;
}

.input-bottom {
    border-bottom: 0.03rem solid #284B63 !important;
}
/* Date icon as placeholder for datepicker */

.mainLoginInput{
  height: 40px;
  padding: 0px;
  font-size: 30px;
  margin: 5px 0;
}

.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #284B63;
}

.mainLoginInput::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #284B63;
}

.mainLoginInput:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;
color: #284B63;
}

/* Search logs */

#search-button {
    display: flex;
    justify-content: center;
}

#search-dashboard {
    margin-bottom: 5rem;
}

#search-form {
    margin-top: 3rem;
}

#no-logs {
    font-size: 2.5rem;
}

/* Footer */

#footer {
    background-color: #284B63;
    font-family: "Play", Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    height: 5rem;
    position: absolute; 
    left: 0;
    bottom: 0;
    line-height: 5rem;

}

#footer a {
    text-decoration: none;
    color: #f5f5f5;
    width: 100%;
}


/* Media Queries */  

@media (min-width: 375px) {
    .logo {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
        width: 90% !important;
    }

    .logo {
        font-size: 3rem !important;
    }

    #username-dropdown {
        padding-right: 2rem;
    }

    .heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2.5rem;
    }

    #welcome-paragraph {
        font-size: 3rem;
    }

    #register {
        width: 70%;
    }

    #sign-in {
        width: 70%;
    }

    #blank-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #blank-dashboard-container {
        min-height: 80vh !important;
    }
    
    .log-date {
        text-align: center;
    }

    #log-day {
        display: block;
    }
}

@media (min-width: 1200px) {
    #log-day {
        margin: 0 3rem;
    }
} 

@media (min-width: 1600px) {
    .container {
        width: 70% !important;
    }
    .btn-floating {
        margin-right: 13vw;
    }
} 