@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Play&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    color: #284B63;
}

input,
textarea,
select {
    color: #284B63;
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

input:focus,
textarea:focus{
    border-bottom: 0.1rem solid #284B63 !important;
    box-shadow: 0 0.1rem 0 0 #284B63 !important; 
}

button:focus {
    background-color: #284B63;
}


/* colors */ .container

.bg-color {
    background-color: #284B63;
    color: #fff;
}

.bg-color:hover {
    background-color: #4e88af;
}


/* General styling - multiple use */

.heading{
    font-size: 2.4rem;
    font-weight: 600;
    font-family: "Play", Arial, Helvetica, sans-serif;
    padding: 0 1rem;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5rem;
    font-family: "Play", Arial, Helvetica, sans-serif
}

.labels {
    font-size: 1.6rem;
    color: #284B63;
}

.icons {
    color: #284B63;
    font-size: 4rem;
}

.icons:hover{
    color: #4e88af;
}

/* Navigation */

.navigation {
    background-color: #284B63 !important;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

#logo {
    font-family: "Play", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    width: 60%;
}

.brand-logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

    #account-icon {
        margin: 0;
        font-size: 4rem;
    }
    #dropdown-icon {
        margin: 0;
    }

    #account-icon:hover {
        color: #4e88af;
    }

    #profile-dropdown a {
        padding: 1rem 1rem 0 1rem;
        color: #284B63;
        background-color: #fff;
    }


/* Home page */

#dog-image {
    background: url('../images/dog-image.jpg') ;
    background-position: center center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter:opacity(70%);
    height: 100vh;
}

#hero-container {
    position: relative;
    text-align: center;
}

#welcome-text {
    position: absolute;
    top: 0%;
    left: 50%; 
    transform: translate(-50%);
    color: #284B63;
    width: 90%;
}

.homepage-buttons {
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #284B63;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 1rem;
    color: #fff;
    font-size: 2.5rem;
}

.homepage-buttons:hover {
    background-color: #152c3c;
}

/* Register & Sign In */

#register {
    border: 0.3rem solid #284B63;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
}

.input-fields {
    box-sizing: border-box;
}

.fields {
    width: 90%;
    border-bottom: 0.05rem solid #284B63 !important;
}

.form-buttons {
    font-family: "Cormorant Garamond", Arial, Helvetica, sans-serif;
    background-color: #284B63;
    border: 0.1rem solid #284B63;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem; 
    color: #fff !important;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.form-buttons:hover {
    background-color: #152c3c;
} 

#sign-in {
    border: 0.3rem solid #284B63;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
}

#register-signin-link a{
    text-decoration: underline;
    color: #284B63;
}

#register-signin-link a:hover {
    color: #4e88af;
}

/* Dashboard */
    
.dashboard {
    background-color: #D9D9D9;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 0;
    box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
}

#dog-selection {
    text-align: right;
    margin-top: 1rem; 
    padding: 0;
}

#profile-selection-button {
    background-color: #284B63;
    border: 0.1rem solid #284B63;
    border-radius: 1rem;
    padding: 1rem;
    color: #fff;
    font-size: 1.6rem;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #284B63 !important;
}

.select-wrapper input.select-dropdown {
    color: #284B63;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #284B63;
    }

    /* Dog Profile */

    #dog-profile {
        padding-right: 2rem;
        height: 100%;
        text-align: center;
    }

    #profile-image {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    #image-container {
        display: table
    }

    #no-image {
        display: table-cell;
        border: 0.5rem solid #284B63;
        background-color: #F5F5F5;
        border-radius: 50%;
        width: 20rem;;
        height: 20rem; 
        padding: 2rem;
        text-align: center;
        vertical-align: middle;
    }

    #no-image a {
        text-decoration: none;
        color: #284B63;
    }

    #no-image a:hover {
        color: #4e88af;
    }

    #dog-heading {
        font-size: 4rem;
        margin: 1rem;
    }

    .dog-subheading {
        font-size: 2rem;
        font-weight: 600;
    }

    .dog-body {
        font-size: 1.6rem;
    }

    #add-dog {
    float: left;
    margin-top: 1rem;
    }

    .profile-icons {
        margin-top: 2rem;
    }

    /* Log Display */

    #default-log {
        background-color: #F5F5F5;
        padding: 2rem;
        margin-top: 2rem;
        box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
        text-align: center;
    }

    #default-log a {
        text-decoration: underline;
        color: #284B63;
    }

    #default-log a:hover {
        color: #4e88af;

    }
    .log {
        background-color: #F5F5F5   ;
        padding: 1rem 1rem 0 1rem;
        margin-top: 1rem;
        box-shadow: 0.2rem -0.3rem 0.2rem #c7c7c7;
    }

    .log-element {
        margin: 0.5rem 0;
    }

    .log-date {
        margin-bottom: 1rem;
        font-family: "Play", Arial, Helvetica, sans-serif;
    }

    #log-day {
        font-size: 6rem;
        margin: 0;
        text-align: center;
    }

    #log-month,
    #log-year {
        font-size: 2.5rem;
        text-align: center;
    }

    .log-icons {
        float: right;
    }

/* Add dog - Add log */

#profile-selection {
    margin-bottom: 2rem;
}

.datepicker-date-display {
    background-color: #284B63;
}

.datepicker-table td.is-today {
    color: #284B63;
    background-color: #D9D9D9;
}

.btn-flat {
    color: #284B63;
}

.active {
    color: #284B63 !important;
}

.metrics {
    margin-bottom: 0;
}

/* Media Queries */  

@media (min-width: 375px) {
    #logo {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .container {
    width: 90%;
    }

    #logo {
        font-size: 3rem;
    }

    .heading {
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2.5 rem
    }

    .labels {
        font-size: 2rem;
    }

    #register {
        width: 70%;
    }

    #sign-in {
        width: 70%;
    }

    .log-date {
        text-align: center;
    }

    #log-day {
        display: block;
    }
}

@media (min-width: 1200px) {
    #log-day {
        margin: 0 3rem;
    }
} 