<ul id="profile-dropdown" class="dropdown-content">
  <li><a href="{{ url_for('log_out') }}">Log out</a></li>
</ul>
<nav class="navigation">
    <div>
        <a href="#" class="brand-logo" id="logo">Dog Health Tracker</a>
        <ul class="right">
            <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown" id="username-dropdown"><i class="material-icons left" id="account-icon">account_circle</i><i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
        </ul>

    </div>
</nav>