<ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ url_for('log_out') }}">Log out</a></li>
</ul>
<nav class="navigation">
    <div>
        <a href="{{url_for('view_dashboard', user_id=user_id, dog_id=dog_id)}}" class="brand-logo logo">Dog Health Tracker</a>
        <ul class="right">
            <li>
                <a class="dropdown-trigger btn" href="#" data-target="dropdown1" id="username-dropdown">
                    <i class="material-icons left" id="account-icon">account_circle</i>
                    <i class="material-icons right" id="dropdown-icon">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
