{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2>Add dog</h2>

<form action="{{ url_for('insert_dog') }}" method="POST"> 
    <label class="labels" for="dog_name">Name: </label>
    <input type="text" id="dog_name" name="dog_name">

    <label class="labels" for="dog_breed">Breed: </label>
    <input type="text" id="dog_breed" name="dog_breed">

    <label class="labels" for="date_of_birth">Day of Birth: </label>
    <input type="text" id="date_of_birth" name="date_of_birth" class="datepicker">

    <label class="labels" for="dog_description">Dog Description:</label> 
    <textarea id="dog_description" class="materialize-textarea"></textarea>
    
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input type="file">
        </div>
        <div class="file-path-wrapper">
            <input id="image_url" class="file-path validate" type="text" placeholder="Upload photo">
        </div>
    </div>

    <button type="submit" name="action">Add dog</button>
</form>
</div>
{% endblock %}