{% extends 'base.html' %}

{% block content %}
<nav class="navigation">
    <div>
        <a href="#" class="brand-logo center" id="logo">Dog Health Tracker</a>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h4 class="center-align">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <h2>Add dog</h2>
    <form method="POST" action="{{ url_for('add_dog', user_id=user_id, dog_id=dog_id ) }}" id="add-dog-form"> 
        <input type="text" class="user_id" name="user_id" id="user_id" value="{{user_id}}" hidden/>
        <label class="labels" for="dog_name">Name: </label>
        <input type="text" id="dog_name" name="dog_name">

        <label class="labels" for="dog_breed">Breed: </label>
        <input type="text" id="dog_breed" name="dog_breed">

        <label class="labels" for="date_of_birth">Day of Birth: </label>
        <input type="text" id="date_of_birth" name="date_of_birth" class="datepicker">

        <label class="labels" for="dog_description">Dog Description:</label> 
        <textarea id="dog_description" name="dog_description" class="materialize-textarea"></textarea>
        
        <label class="labels" for="dog_image">Dog Image: </label>
        <input type="url" id="dog_image" name="dog_image" placeholder="Paste your image URL here">


        <button type="submit" class="form-buttons" id="add-dog-submit">Add dog</button>
         {% if dogs != 0 %}
        <a href="{{url_for('view_dashboard', user_id=user_id, dog_id=dog_id)}}" class="form-buttons">Cancel</a> 
        {% endif %} 

    </form>
</div>
{% endblock %}