{% extends 'base.html' %}

{% block content %}
<div class="container">
<h2>Add log</h2>

<form action="{{ url_for('insert_log') }}" method="POST"> 
    <div id="profile-selection">
        <label class="labels" for="select-dog">Name:</label>
        <select id="select-dog">
            {% for dog in dogs %}
            <option id="dog_name" value="{{ dog.dog_name }}"> {{ dog.dog_name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <label class="labels" for="log_date">Date: </label>
    <input type="text" id="log_date" name="log_date" class="datepicker">

    <label class="labels" for="dog_weigth">Weigth: </label>
    <input type="text" id="dog_weigth" name="dog_weigth">

    <label class="labels" for="dog_activity">Activity </label>
    <input type="text" id="dog_activity" name="dog_activity">

    <label class="labels" for="dog_food">Food:</label>
    <input type="text" id="dog_food" name="dog_food">

    <label class="labels" for="other_notes">Other notes:</label>
    <textarea name="other_notes" id="other_notes" class="materialize-textarea"></textarea>

    <button type="submit" name="action">Add log</button>
</form>
</div>
{% endblock %}

