{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Add log</h2>
        </div>

        <form action="{{ url_for('insert_log') }}" method="POST"> 

            <div class="col s12">
                    <div id="profile-selection">
                        <label class="labels" for="select-dog">Name:</label>
                        <select id="select-dog">
                            {% for dog in dogs %}
                            <option id="dog_name" value="{{ dog.dog_name }}"> {{ dog.dog_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>

        <div class="col s12">
            <label class="labels" for="log_date">Date: </label>
            <input type="text" id="log_date" name="log_date" class="datepicker">
        </div>

        <div class="col s12">
            <div class="row" id="weight-section">
                <label class="labels col s12" for="dog_weight">Weight: </label>
                <div class="col s8" > 
                    <input type="text" id="dog_weight" name="dog_weight">
                </div>
                <div class="col s4">
                    <select name="weight_metric">
                        {% for metric in weight_metrics %}
                        <option value="{{metric.metric_name}}">{{metric.metric_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col s12">
            <label class="labels" for="dog_activity">Activity </label>
            <input type="text" id="dog_activity" name="dog_activity">
        </div>

        <div class="col s12">  
                <div class="row">
                    <label class="labels col s12" for="dog_food">Food:</label>
                    <div class="col s8">
                        <input type="text" id="dog_food" name="dog_food">
                    </div>
                    <div class="col s4">
                        <select name="food_metric">
                            {% for metric in food_metrics %}
                            <option value="{{ metric.metric_name }}">{{ metric.metric_name }}</option>
                            {% endfor %}
                    
                        </select>
                    </div>
                </div> 
            </div>
    

        <div class="col s12">
            <label class="labels" for="other_notes">Other notes:</label>
            <textarea name="other_notes" id="other_notes" class="materialize-textarea"></textarea>
        </div>

        <button type="submit" name="action">Add log</button>
</form>
</div>
</div>
{% endblock %}

