{% extends 'base.html' %}

{% block content %}
<ul id="profile-dropdown" class="dropdown-content">
  <li><a href="{{ url_for('delete_profile', user_id=user._id) }}">Delete profile</a></li>
  <li><a href="{{ url_for('log_out') }}">Log out</a></li>
</ul>
<nav class="navigation">
    <div> 
        <a href="#" class="brand-logo" id="logo">Dog Health Tracker</a>
        <ul class="right">
            <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown" id="username-dropdown"><i class="material-icons left" id="account-icon">account_circle</i><i class="material-icons right" id="dropdown-icon">arrow_drop_down</i></a></li>
        </ul>
    
    </div>
</nav>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h4 class="center-align">{{ message }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <div class="row">
        <div class="col s12" id="dog-selection">
            {% if count_dogs > 1 %}
            <form action="{{ url_for('view_dashboard', dog_id = dog._id, user_id=user._id)}}" id="dog-profile-selection" method="POST" class="row">
                <div class="col s12">
                    <select id="dog-dropdown" name="dog_name" onchange="submitForm();">
                        <option value="default" selected disabled>Select the dog profile you want to see</option>
                    {% for dog in dogs %} 
                        <option id="dog_name" value="{{dog.dog_name}}">{{dog.dog_name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="{{dog_id}}" class="col s12 dashboard">
            <div class="col s12 m3" id="dog-profile">
                <div class="row">
                    <div class="col s12">
                        <div id="add-dog">
                            <a href="{{ url_for('add_dog', user_id=user._id)}}" title="Add another dog"><i class="material-icons icons">add_circle</i></a>
                        </div>
                    </div>
                    {% if dog.dog_image ==  "" %}
                    <div class="col s12" id="image-container">
                        <div id="no-image">
                            <a href="{{ url_for('edit_dog', dog_id = dog._id , user_id= user._id) }}" title="Add profile image of your dog"> Click here to add a profile image of your dog!</a>
                        </div>
                    </div>
                    <!-- <img src="../static/images/default-dog-image.jpg" id="default-profile-image" alt="default_profile_image_dog"> -->
                    {% else %}
                    <div class="col s12">
                        <img src="{{ dog.dog_image }}" id="profile-image" alt="profile_image_dog">
                    </div>
                    {% endif %}
                    <div class="col s12">  
                        <h2 id="dog-heading">{{ dog.dog_name }}</h2>
                        <h5 class="dog-subheading"><strong>Breed</strong></h5>
                        <span class="dog-body">{{ dog.dog_breed }}</span>
                        <h5 class="dog-subheading"><strong>Date of birth</strong></h5>
                        <span class="dog-body">{{ dog.date_of_birth }}</span>
                        <h5 class="dog-subheading"><strong>Description</strong></h5>
                        <span class="dog-body">{{ dog.dog_description }}</span>
                        <div class="profile-icons">
                            <a href="{{ url_for('edit_dog', dog_id = dog._id , user_id= user._id) }}" title="Edit dog profile"><i class="material-icons icons">edit</i></a>
                            <a href="{{ url_for('delete_dog', dog_id = dog._id, user_id= user._id) }}" title="Delete dog profile"><i class="material-icons icons">delete</i></a>
                        </div>
                    </div>
                </div>  
            </div>
            
                <div class="col m9">
                {% if count_logs == 0 %}
                    <div id="default-log">Click <a href="{{ url_for('add_log', user_id=user._id, dog_id=dog._id)}}">here</a> or on the plus sign right below to add your first log! </div>
                {% else %}
                    {% for log in logs %}
                    <div class="row log">
                        <div class="col s12 m3 log-date">
                            <span id="log-day">{{ log.log_date[0:2] }}</span>
                            <span id="log-month-year"> {{log.log_date[3:]}}</span>
                        </div>
                        <div class="col s12 m7">
                            <p class="log-element">Activity: {{ log.dog_activity }}</p>
                            <p class="log-element">Food: {{ log.dog_food }} {{log.food_metric}}</p>
                            <p class="log-element">Weight: {{ log.dog_weight }} {{log.weight_metric}}</p>
                            <p class="log-element">Other notes: {{ log.other_notes }}</p>
                        </div>
                        <div class="log-icons s12 m2">
                            <a href="{{ url_for('edit_log', log_id = log._id , user_id= user._id) }}" title="Edit log"><i class="material-icons icons">edit</i></a>
                            <a href="{{ url_for('delete_log', log_id = log._id , user_id= user._id) }}" title="Delete log"><i class="material-icons icons">delete</i></a>
                        </div>

                    </div>
            {% endfor %}
            {% endif %}
                </div>
            
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large" href="{{ url_for('add_log',  dog_id=dog._id, user_id=user._id) }}" title="Add another log">
                        <i class="material-icons bg-color">add</i>
                    </a>
                </div>
        
        </div>
    </div>
</div>
{% endblock %}