{% extends 'base.html' %}

{% block content %}



    <div class="row dog-profile">
        <div class="input-field col m3">
            <form action="{{ url_for('view_dashboard') }}" method="POST">
                <select name="dog_name">
                    {% for dog in dogs %}
                    <option value="{{ dog.dog_name }}"> {{ dog.dog_name }}</option>
                    {% endfor %}
                </select>
                <button>Filter Results</button>
            </form>
            <div>
                <h2>{{ dog.dog_name }}</h2>
                <h5>Breed:</h5>
                <p>{{ dog.dog_breed }}</p>
                <h5>Date of birth:</h5>
                <p>{{ dog.date_of_birth }}</p>
                <h5>Description:</h5>
                <p>{{ dog.dog_description }}</p>
                <p>{{ dog.image_url }}</p>
                <a href="{{ url_for('edit_profile', dog_id = dog._id) }}"><i class="material-icons icons">edit</i></a>
                <a href="{{ url_for('delete_profile', dog_id = dog._id) }}"><i class="material-icons icons">delete</i></a>
            </div>
            <div>
                <a href="{{ url_for('add_dog')}}"><i class="material-icons icons">add_circle</i></a>
            </div>
        </div>
        
        <div class="col m9">
        
        {% for log in logs %}

            <div class="log">
                <div class="row">
                    <div class="col m3">
                        <p id="log-day">{{ log.log_date[0:2] }}</p>
                        <p id="log-month-year"> {{log.log_date[3:]}}</p>
                        
                    </div>
                    <div class="col m9">
                        
                        <p class="log-element">Weight: {{ log.dog_weigth }}
                            <span class="log-icons">
                                <a href="{{ url_for('edit_log', log_id = log._id) }}"><i class="material-icons icons">edit</i></a>
                                <a href="{{ url_for('delete_log', log_id = log._id) }}"><i class="material-icons icons">delete</i></a>
                            </span>
                        </p>
                        <p class="log-element">Activity: {{ log.dog_activity }}</p>
                        <p class="log-element">Food: {{ log.dog_food }}</p>
                        <p class="log-element">Other notes: {{ log.other_notes }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large"  href="{{ url_for('add_log') }}">
                    <i class="material-icons bg-color">add</i>
                </a>
            </div>
            
        </div>
    </div>
    
{% endblock %}