{% extends 'base.html' %}


{% block content %}
<nav class="navigation">
    <div>
        <a href="#" class="brand-logo center" id="logo">Dog Health Tracker</a>
    </div>
</nav>

<div class="container">
<h2>Edit dog profile</h2>


<form action="{{ url_for('update_dog', dog_id=profile._id , user_id= user._id) }}" method="POST"> 
    <input type="text" class="user_id" name="user_id" id="user_id" value="{{user_id}}" hidden/>
    <label class="labels" for="dog_name">Name: </label>
    <input type="text" id="dog_name" name="dog_name" value="{{ profile.dog_name }}">

    <label class="labels" for="dog_breed">Breed: </label>
    <input type="text" id="dog_breed" name="dog_breed" value="{{ profile.dog_breed }}">

    <label class="labels" for="date_of_birth">Day of Birth: </label>
    <input type="text" id="date_of_birth" name="date_of_birth" value="{{ profile.date_of_birth }}">

    <label class="labels" for="dog_description">Description: </label>
    <textarea name="dog_description" id="dog_description" class="materialize-textarea">{{ profile.dog_description }} </textarea>

    <label class="labels" for="dog_image">Dog Image: </label>
    <input type="url" id="dog_image" name="dog_image" placeholder="Paste your image URL here" value="{{profile.dog_image}}">

    <button type="submit" name="action" class="form-buttons">Update dog profile</button>
</form>
</div>

{% endblock %}