
{% extends 'base.html' %}


{% block content %}
<h2>Edit log</h2>

<form action="{{ url_for('update_log', log_id=log._id) }}" method="POST"> 
    <label for="log_date">Date: </label>
    <input type="text" id="log_date" name="log_date" value="{{ log.log_date }}" class="datepicker">

    <label for="dog_weigth">Weigth: </label>
    <input type="text" id="dog_weigth" name="dog_weigth" value="{{ log.dog_weigth }}">

    <label for="dog_activity">Activity </label>
    <input type="text" id="dog_activity" name="dog_activity" value="{{ log.dog_activity }}">

    <label for="dog_food">Food:</label>
    <input type="text" id="dog_food" name="dog_food" value="{{ log.dog_food }}">

    <label for="other_notes">Other notes:</label>
    <textarea name="other_notes" id="other_notes" cols="30" rows="10">{{ log.other_notes }}</textarea>

    <button type="submit" name="action">Update log</button>
</form>


{% endblock %}