{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Register here to start tracking your dog's health!</h2>
    <div class="row">
        <h4 class="sub-heading">Please tell us a bit more about you:</h4>
        <form action="{{ url_for('register') }}" method="POST"> 
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <label class="labels" for="first_name">First Name</label>
                        <input id="first_name" type="text" class="validate" name="first_name">
                    </div>
                    <div class="col s6">
                        <label class="labels" for="last_name">Last Name</label>
                        <input id="last_name" type="text" class="validate" name="last_name">
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s6">                
                        <label class="labels" for="username">Username (Only letters (either case), numbers and underscore)</label>
                        <input id="username" type="text" name="username" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                    <div class="col s6">
                        <label class="labels" for="password">Password</label>
                        <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" required pattern=".{6,}" title="six or more characters">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" name="action">Register now</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}