{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h4 class="sub-heading">Please tell us a bit more about you:</h4>
        <form action="{{ url_for('register') }}" method="POST"> 
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <label class="labels" for="first_name">First Name</label>
                        <input id="first_name" type="text" class="validate" name="first_name">
                    </div>
                    <div class="col s6">
                        <label class="labels" for="last_name">Last Name</label>
                        <input id="last_name" type="text" class="validate" name="last_name">
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s6">                
                        <label class="labels" for="username">username</label>
                        <input id="username" type="text" name="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required
                        oninvalid="this.setCustomValidity('Username have to be between 5 and 15 characters.')"
                        oninput="this.setCustomValidity('')">

                    </div>
                    <div class="col s6">
                        <label class="labels" for="password">Password</label>
                        <input id="password" name="password" type="password" class="validate"
                        minlength="5" maxlength="15" required>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" name="action">Register now</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}