{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>Sign in to your account</h2>
    <div class="row">
        <form action="{{ url_for('sign_in') }}" method="POST">
            <div class="col s12">
                <label class="labels" for="username">Username</label>
                <input id="username" type="text" name="username" pattern="^[a-zA-Z0-9]{5,15}$" required>
            </div>
            <div class="col s12">
                <label class="labels" for="password">Password</label>
                <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" required pattern=".{6,}" title="six or more characters">
            </div>
            <div>
                <button type="submit" name="action">Sign in</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}

